.navbar {
    background-color: #333;
    padding: 1rem 2rem;
    color: #fff;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .navbar-logo {
   
        text-align: center;
        color: #333;
        font-size: 25px;
        margin-bottom: 0.5px;
        font-weight: bold;
        position: relative;
        display: inline-block;
        padding: 0.5rem 1rem;
        background: linear-gradient(to right, #4CAF50, #2196F3);
        -webkit-background-clip: text;
        color: transparent;
        transition: color 0.3s ease-in-out;

  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-item {
    position: relative;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #4CAF50;
  }
  